extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section.game
    ul
      - for (var x = 0; x < 16; x++)
        li 
          button.card(data-cardnum = x)
            img.close(src="./assets/img/close.png", alt="close")
            img.open(src="./assets/img/open.png", alt="open")
    p.result スタート



block script