extends ../layout/main

block variables
  - var title = '茶々丸おねえさんボイス神経衰弱';
  - var description = '8人のおねえさんボイスを聴き分けろ!! 全部正解すると"ご褒美❤︎"があるよ。';
  - var pageClass = 'index-page';
  - var ogp_image_url = 'https://albasimia.github.io/chachamaru_birthday/assets/img/ogp.png';
  - var url = 'https://albasimia.github.io/chachamaru_birthday/';
  
block content
  h1 茶々丸おねえさんボイス神経衰弱
  p.description 8人のおねえさんボイスを聴き分けろ!!
    br
    |全部正解すると"ご褒美❤︎"があるよ。
  section.game
    ul
      - for (var x = 0; x < 16; x++)
        li
          button.card(data-cardnum = x)
            img.close(src="./assets/img/close_cha.png", alt="close", width="500", height="500")
            img.open(src=`./assets/img/mesumaru/${x}.png`, alt="open", width="500", height="500")
    .result
      .correct.shadow.animate__bounceInDown
        p.flash(data-text="セイカイ") セイカイ
      .incorrect.shadow.animate__bounceInDown
        p.flash(data-text="マチガイ") マチガイ
  .allClear
    a(href="./assets/img/gohoubi/gohoubi.png" target="_blank") ご褒美❤︎
    button.replay REPLAY

block script