.game {
  ul {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    flex-basis: 25%;
    padding: 0 2px 2px 0;
  }
  .card {
    width: 100%;
    padding-top: 100%;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 1s ease;
    // overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      backface-visibility: hidden;
      border-radius: 10px;
      &.close {
        background-color: blue;
      }
      &.open {
        background-color: red;
        transform: rotateY(180deg);
      }
    }
    &.open {
      pointer-events: none;
      transform: rotateY(180deg);
    }
  }
  .result {
    text-align: center;
  }
}
