body {
  // background-color: #2E2E2E;
  background-color: #3c3c3c;
}
.game {
  padding: 10px;
  h1 {
    text-align: center;
    color: #fff;
    @media screen and (min-width: $tableWidth) {
      font-size: 2rem;
    }
    font-weight: bold;
  }
  ul {
    @media screen and (min-width: $tableWidth) {
      max-width: 500px;
    }
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    flex-basis: 25%;
    padding: 0 4px 4px 0;
  }
  .card {
    width: 100%;
    padding-top: 100%;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 1s ease;
    // overflow: hidden;
    background-color: transparent;
    vertical-align: top;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      backface-visibility: hidden;
      // border: rgba(#32fefe, 0.9) solid 1px;
      // border-radius: 10%;
      border-radius: 5%;
      &.close {
        background-color: blue;
      }
      &.open {
        background-color: red;
        transform: rotateY(180deg);
      }
    }
    &.open {
      pointer-events: none;
      transform: rotateY(180deg);
    }
  }
  .result {
    text-align: center;
    color: #fff;
  }
}
